@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/static/Montserrat-Regular.woff2") format("woff2"), url("/assets/fonts/static/Montserrat-Regular.woff") format("woff"), url("/assets/fonts/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #f2f2f2;
}

.header__container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 300px;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.03);
}

.logo__img {
  margin: 0 10px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__list .menu__list-link {
  font-size: 22px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
.menu__list .menu__list-link:hover {
  opacity: 0.5;
}

.source__items {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}
.source__items img {
  width: 35px;
}

.source__items svg:hover {
  opacity: 0.5;
}

.menu__list-item--dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  min-width: 140px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.3s ease;
  z-index: 4;
}

.menu__list-item--dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu__item {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 0;
}

.dropdown-menu__item a {
  display: block;
  transition: color 0.3s ease;
}

.dropdown-menu__item a:hover {
  color: #919292;
}

#burger-menu {
  display: none;
}

.burger-menu__btn {
  margin-right: 10px;
  display: none;
  cursor: pointer;
  z-index: 2;
}

/* Мобильная версия */
@media (max-width: 710px) {
  .burger-menu__btn {
    display: block;
    transition: transform 0.4s ease;
    z-index: 3;
  }
  .burger-menu__btn svg {
    width: 40px;
    height: 40px;
    color: #fff;
  }
  .burger-menu__btn:active {
    transform: rotate(100deg);
  }
  .menu {
    display: none;
    position: absolute;
    background-color: rgba(247, 247, 247, 0.9490196078);
    width: 100%;
    top: 0;
    padding: 2% 0;
    box-shadow: 0 5px 10px #000;
    margin: 0;
    z-index: 1;
  }
  #burger-menu:checked ~ .menu {
    display: inline;
    width: 100%;
  }
  .menu__list {
    margin-left: 40%;
    flex-direction: column;
    gap: 5px;
    padding: 0 5px;
    border-radius: 10px;
  }
  .menu__list-item {
    width: 100%;
  }
  .menu__list-link {
    display: inline-block;
    padding: 10px 0;
    transition: transform 0.1s ease;
  }
  .menu__list-link:active {
    transform: scale(1.2);
  }
  .source__items img {
    width: 35px;
    transition: transform 0.1s ease;
  }
  .source__items img:active {
    transform: scale(1.2);
  }
  .source__items {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px 0;
  }
}
.footer {
  background-color: #ede9e9;
  border-top: 2px solid #a3a1a1;
  padding: 20px 0;
}
.footer .footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .footer__logo {
  margin-left: 2%;
  flex: 1 1 10px;
  display: flex;
  transition: all 0.2s ease;
}
.footer .footer__logo p {
  font-size: 10px;
}
.footer .footer__logo .logo__img {
  transition: all 0.2s ease;
  margin: 0;
}
.footer .logo__img:hover {
  opacity: 0.3;
}
.footer .footer__menu {
  flex-basis: 65%;
  gap: 5%;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__menu-title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 2px;
}
.footer .footer__menu-item {
  padding-top: 7px;
  font-size: 20px;
}
.footer .footer__menu-link {
  opacity: 1;
  transition: all 0.1s ease;
}
.footer .footer__menu-link:hover {
  opacity: 0.3;
}
.footer .app {
  margin-right: 1%;
  display: flex;
  flex: 1 1 100%;
  gap: 10px;
  margin-top: 20px;
  justify-content: flex-end;
}
.footer .app__item-link {
  transition: all 0.2s ease;
}
.footer .app__item-link:hover {
  opacity: 0.3;
}
.footer .app__item-link:active {
  opacity: 0.3;
}

@media (max-width: 630px) {
  .footer {
    background-color: #ede9e9;
    border-top: 2px solid #a3a1a1;
    padding: 10px 0;
  }
  .footer .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer .footer__logo {
    margin-left: 2%;
    flex: 1 1 10px;
    display: flex;
  }
  .footer .footer__logo p {
    font-size: 6px;
  }
  .footer .footer__logo .logo__img {
    width: 60%;
    margin: 0;
  }
  .footer .footer__menu {
    flex-basis: 65%;
    gap: 4%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer__menu-title {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0px;
  }
  .footer .footer__menu-item {
    padding-top: 0px;
  }
  .footer .footer__menu-item + .footer__menu-item {
    padding-top: 5px;
    font-size: 13px;
  }
  .footer .app {
    margin-right: 1%;
    display: flex;
    flex: 1 1 100%;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-end;
  }
  .footer .app__item-link {
    transition: all 0.3s ease;
  }
  .footer .app__item-link svg {
    width: 30px;
  }
}
.other__goods {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.other__goods h3 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 50px;
}
.other__goods .icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.other__goods .icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10%;
  width: 30%;
  height: 500px;
  margin: 3% 0;
  box-shadow: 2px 2px 5px #787878;
}
.other__goods .icons .icon .icon__text {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.other__goods .icons .icon .icon__text h3 {
  font-size: 35px;
}
.other__goods .icons .icon .icon__text p {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.other__goods .icons .icon .icon__button {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%/60%;
  padding: 6%;
  width: 45%;
  height: 10%;
  font-size: 20px;
  cursor: pointer;
  order: 1;
  background: none;
  transition: all 0.3s ease;
}
.other__goods .icons .icon .icon__button:hover {
  width: 47%;
  background-color: #000;
  color: #fff;
}
.other__goods .icons .icon .icon__img {
  width: 60%;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}
.other__goods .icons .icon .icon__img .icon__img-1 {
  width: 1.2;
}
.other__goods .icons .icon .icon__img .icon__img-2 {
  width: 1.2;
}
.other__goods .icons .icon .icon__img .icon__img-3 {
  width: 1.2;
  margin-top: 6%;
}

@media (min-width: 1050px) and (max-width: 1200px) {
  .other__goods h3 {
    font-size: 50px;
  }
  .other__goods .icons .icon {
    border-radius: 40px;
    width: 30%;
    height: 400px;
  }
  .other__goods .icons .icon .icon__text h3 {
    font-size: 30px;
  }
  .other__goods .icons .icon .icon__text p {
    font-size: 16px;
  }
  .other__goods .icons .icon .icon__button {
    font-size: 20px;
  }
  .other__goods .icons .icon .icon__img {
    width: 60%;
  }
  .other__goods .icons .icon .icon__img .icon__img-1 {
    width: 290px;
  }
  .other__goods .icons .icon .icon__img .icon__img-2 {
    width: 290px;
  }
  .other__goods .icons .icon .icon__img .icon__img-3 {
    width: 290px;
    margin-top: 6%;
  }
}
@media (min-width: 800px) and (max-width: 1050px) {
  .other__goods h3 {
    font-size: 46px;
  }
  .other__goods .icons .icon {
    border-radius: 35px;
    width: 30%;
    height: 340px;
    margin: 3% 0;
    box-shadow: 2px 2px 5px #787878;
  }
  .other__goods .icons .icon .icon__text {
    margin-top: 8%;
  }
  .other__goods .icons .icon .icon__text h3 {
    font-size: 32px;
  }
  .other__goods .icons .icon .icon__text p {
    font-size: 13px;
  }
  .other__goods .icons .icon .icon__button {
    padding: 6%;
    width: 45%;
    height: 10%;
    font-size: 16px;
  }
  .other__goods .icons .icon .icon__img {
    width: 60%;
  }
  .other__goods .icons .icon .icon__img .icon__img-1 {
    width: 230px;
  }
  .other__goods .icons .icon .icon__img .icon__img-2 {
    width: 230px;
  }
  .other__goods .icons .icon .icon__img .icon__img-3 {
    width: 230px;
    margin-top: 6%;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .main h3 {
    font-size: 25px;
  }
  .main .main__reg {
    width: 70%;
    border-radius: 30px;
  }
  .main .main__reg .main__form .name p, .main .main__reg .main__form .surname p, .main .main__reg .main__form .email p, .main .main__reg .main__form .address p, .main .main__reg .main__form .button p {
    font-size: 15px;
  }
  .main .main__reg .main__form #name, .main .main__reg .main__form #surname, .main .main__reg .main__form #email, .main .main__reg .main__form #address {
    height: 30px;
    border-radius: 12px;
    font-size: 16px;
  }
  .main .main__reg .main__form .buttons .button1 {
    padding: 3%;
    font-size: 12px;
    border-radius: 30px;
  }
  .main .main__reg .main__form .buttons .button2 {
    padding: 3%;
    font-size: 12px;
    border-radius: 30px;
  }
  .other__goods h3 {
    font-size: 38px;
  }
  .other__goods .icons .icon {
    border-radius: 30px;
    width: 30%;
    height: 260px;
    margin: 3% 0;
    box-shadow: 2px 2px 5px #787878;
  }
  .other__goods .icons .icon .icon__text {
    margin-top: 8%;
  }
  .other__goods .icons .icon .icon__text h3 {
    font-size: 22px;
  }
  .other__goods .icons .icon .icon__text p {
    font-size: 11px;
  }
  .other__goods .icons .icon .icon__button {
    padding: 6%;
    width: 45%;
    height: 10%;
    font-size: 13px;
    margin-top: 6%;
  }
  .other__goods .icons .icon .icon__img {
    width: 60%;
  }
  .other__goods .icons .icon .icon__img .icon__img-1 {
    width: 170px;
  }
  .other__goods .icons .icon .icon__img .icon__img-2 {
    width: 170px;
  }
  .other__goods .icons .icon .icon__img .icon__img-3 {
    width: 180px;
    margin-top: 6%;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .main h3 {
    font-size: 15px;
  }
  .main .main__reg {
    margin: 10%;
    width: 70%;
    padding: 1.5rem;
    border-radius: 20px;
  }
  .main .main__reg .main__form {
    width: 95%;
  }
  .main .main__reg .main__form .name p, .main .main__reg .main__form .surname p, .main .main__reg .main__form .email p, .main .main__reg .main__form .address p, .main .main__reg .main__form .button p {
    font-size: 10px;
  }
  .main .main__reg .main__form #name, .main .main__reg .main__form #surname, .main .main__reg .main__form #email, .main .main__reg .main__form #address {
    height: 25px;
    border-radius: 12px;
    font-size: 12px;
  }
  .main .main__reg .main__form .buttons {
    margin-top: 7%;
  }
  .main .main__reg .main__form .buttons .button1 {
    width: 35%;
    font-size: 10px;
    border-radius: 30px;
  }
  .main .main__reg .main__form .buttons .button2 {
    width: 35%;
    padding: 2%;
    font-size: 10px;
    border-radius: 30px;
  }
  .other__goods {
    margin: 2% 0;
  }
  .other__goods h3 {
    font-size: 28px;
  }
  .other__goods .icons .icon {
    border-radius: 25px;
    width: 30%;
    height: 200px;
    margin: 3% 0;
    box-shadow: 2px 2px 5px #787878;
  }
  .other__goods .icons .icon .icon__text {
    margin-top: 8%;
  }
  .other__goods .icons .icon .icon__text h3 {
    font-size: 16px;
  }
  .other__goods .icons .icon .icon__text p {
    font-size: 8px;
  }
  .other__goods .icons .icon .icon__button {
    padding: 6%;
    width: 45%;
    height: 10%;
    font-size: 10px;
    border-radius: 20px;
    border-width: 0.5px;
    margin-top: 6%;
  }
  .other__goods .icons .icon .icon__img {
    width: 60%;
  }
  .other__goods .icons .icon .icon__img .icon__img-1 {
    width: 120px;
  }
  .other__goods .icons .icon .icon__img .icon__img-2 {
    width: 120px;
  }
  .other__goods .icons .icon .icon__img .icon__img-3 {
    width: 120px;
    margin-top: 6%;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .main h3 {
    font-size: 15px;
  }
  .main .main__reg {
    margin: 10%;
    width: 70%;
    padding: 1.5rem;
    border-radius: 20px;
  }
  .main .main__reg .main__form {
    width: 95%;
  }
  .main .main__reg .main__form .name p, .main .main__reg .main__form .surname p, .main .main__reg .main__form .email p, .main .main__reg .main__form .address p, .main .main__reg .main__form .button p {
    font-size: 10px;
  }
  .main .main__reg .main__form #name, .main .main__reg .main__form #surname, .main .main__reg .main__form #email, .main .main__reg .main__form #address {
    height: 25px;
    border-radius: 12px;
    font-size: 12px;
  }
  .main .main__reg .main__form .buttons {
    margin-top: 7%;
  }
  .main .main__reg .main__form .buttons .button1 {
    width: 35%;
    font-size: 10px;
    border-radius: 30px;
  }
  .main .main__reg .main__form .buttons .button2 {
    width: 35%;
    padding: 2%;
    font-size: 10px;
    border-radius: 30px;
  }
  .other__goods {
    margin: 2% 0;
  }
  .other__goods h3 {
    font-size: 28px;
  }
  .other__goods .icons .icon {
    border-radius: 20px;
    width: 30%;
    height: 155px;
    margin: 3% 0;
    box-shadow: 2px 2px 5px #787878;
  }
  .other__goods .icons .icon .icon__text {
    margin-top: 8%;
  }
  .other__goods .icons .icon .icon__text h3 {
    font-size: 16px;
  }
  .other__goods .icons .icon .icon__text p {
    font-size: 8px;
  }
  .other__goods .icons .icon .icon__button {
    padding: 6%;
    width: 45%;
    height: 10%;
    font-size: 10px;
    border-radius: 20px;
    border-width: 0.5px;
    margin-top: 6%;
  }
  .other__goods .icons .icon .icon__img {
    width: 60%;
  }
  .other__goods .icons .icon .icon__img .icon__img-1 {
    width: 100px;
  }
  .other__goods .icons .icon .icon__img .icon__img-2 {
    width: 100px;
  }
  .other__goods .icons .icon .icon__img .icon__img-3 {
    width: 100px;
    margin-top: 6%;
  }
}
@media (max-width: 400px) {
  .main h3 {
    font-size: 14px;
  }
  .main .main__reg {
    margin: 10%;
    width: 70%;
    padding: 1rem;
    border-radius: 15px;
  }
  .main .main__reg .main__form {
    height: 300px;
    width: 95%;
  }
  .main .main__reg .main__form .name p, .main .main__reg .main__form .surname p, .main .main__reg .main__form .email p, .main .main__reg .main__form .address p, .main .main__reg .main__form .button p {
    font-size: 8px;
  }
  .main .main__reg .main__form #name, .main .main__reg .main__form #surname, .main .main__reg .main__form #email, .main .main__reg .main__form #address {
    height: 22px;
    border-radius: 12px;
    font-size: 12px;
  }
  .main .main__reg .main__form .buttons {
    margin-top: 14%;
  }
  .main .main__reg .main__form .buttons .button1 {
    width: 35%;
    font-size: 9px;
    border-radius: 30px;
  }
  .main .main__reg .main__form .buttons .button2 {
    width: 35%;
    padding: 2.5%;
    font-size: 9px;
    border-radius: 30px;
  }
  .other__goods {
    margin: 2% 0;
  }
  .other__goods h3 {
    font-size: 22px;
  }
  .other__goods .icons .icon {
    border-radius: 15px;
    width: 30%;
    height: 140px;
    margin: 3% 0;
    box-shadow: 2px 2px 5px #787878;
  }
  .other__goods .icons .icon .icon__text {
    margin-top: 8%;
  }
  .other__goods .icons .icon .icon__text h3 {
    font-size: 11px;
  }
  .other__goods .icons .icon .icon__text p {
    font-size: 5px;
  }
  .other__goods .icons .icon .icon__button {
    padding: 6%;
    width: 45%;
    height: 10%;
    font-size: 8px;
    border-radius: 20px;
    border-width: 0.3px;
    margin-top: 6%;
  }
  .other__goods .icons .icon .icon__img {
    margin-top: 8%;
    width: 60%;
  }
  .other__goods .icons .icon .icon__img .icon__img-1 {
    width: 90px;
  }
  .other__goods .icons .icon .icon__img .icon__img-2 {
    width: 90px;
  }
  .other__goods .icons .icon .icon__img .icon__img-3 {
    width: 90px;
    margin-top: 6%;
  }
}
.main .main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
  max-width: 1400px;
  max-height: 570px;
  border-radius: 30px;
  background-color: #a3a1a1;
  padding: 40px;
}

.main__content {
  max-width: 60%;
  padding: 10px;
}

.main__container img {
  max-width: 100%;
  width: 400px;
}

.main__container-text1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 40px;
}

.main__container-text2 {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4431372549);
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.flex-container {
  display: flex;
  gap: 30px;
  max-width: 100%;
  justify-content: center;
  margin-top: 40px;
}
.flex-container .left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 45%;
}
.flex-container .right-column {
  display: flex;
  flex-direction: row;
  height: 770px;
  gap: 30px;
  width: 45%;
}
.flex-container .block {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px #777676;
  overflow: hidden;
  font-size: 22px;
  position: relative;
  transition: all 0.1s linear;
}
.flex-container .block:hover {
  box-shadow: 4px 4px 15px #000;
}
.flex-container .block-1 {
  width: 100%;
  height: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.flex-container .block-1 .block__text {
  position: relative;
  top: -30%;
  right: -130%;
  width: 60%;
  text-align: right;
}
.flex-container .block-1 .block-1__img {
  position: absolute;
  left: -3%;
  bottom: -5%;
  width: 70%;
  height: auto;
  z-index: 1;
}
.flex-container .block-1 .block-1__img img {
  width: 100%;
  height: auto;
  display: block;
}
.flex-container .block-2 {
  width: 100%;
  height: 270px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.flex-container .block-2 .block__text {
  position: relative;
  left: 130%;
  width: 60%;
  text-align: right;
}
.flex-container .block-2 .block-2__img {
  position: absolute;
  left: 10%;
  bottom: -18%;
  width: 50%;
  transform: rotate(30deg);
  z-index: 1;
}
.flex-container .block-2 .block-2__img img {
  width: 100%;
  height: auto;
  display: block;
}
.flex-container .block-3, .flex-container .block-4 {
  position: relative;
  width: 50%;
  height: 770px;
  display: flex;
  flex-direction: column;
}
.flex-container .block-3 .block__text {
  position: relative;
  bottom: -35%;
  width: 80%;
  text-align: center;
}
.flex-container .block-3 .block-3__img {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex-container .block-3 .block-3__img img {
  width: auto;
  height: 100%;
}
.flex-container .block-4 .block__text {
  position: relative;
  width: 80%;
  text-align: center;
}
.flex-container .block-4 .block-4__img {
  transform: none;
  width: 100%;
  height: 60%;
  order: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flex-container .block-4 .block-4__img img {
  width: auto;
  height: 100%;
}

.form__container {
  display: flex;
  max-width: 935px;
  max-height: 450px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 2px 2px 5px #a3a1a1;
  border-radius: 30px;
  margin: 40px 20%;
  align-items: center;
}
.form__container .form__text {
  margin-top: 30px;
}
.form__container .form__text h3 {
  font-size: 35px;
}
.form__container .form__text p {
  font-size: 12px;
}
.form__container .form__img {
  position: relative;
  width: 250px;
  height: 200px;
  margin-top: 30px;
}
.form__container .form__img img {
  position: absolute;
}
.form__container .img1 {
  width: 250px;
  max-width: 100%;
  z-index: 1;
}
.form__container .img2 {
  max-width: 150px;
  height: 80px;
  transform: rotate(15deg);
  z-index: 2;
  top: -20px;
  left: -10px;
}
.form__container .img3 {
  width: 100%;
  max-width: 80px;
  z-index: 2;
  right: 0;
  bottom: 40px;
}
.form__container .form__reg {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}
.form__container .form__reg #nameInput {
  font-size: 18px;
  text-align: left;
  max-width: 600px;
  width: 95%;
  padding: 10px 50px;
  height: 48px;
  background-color: #DCDCDC;
  border: 1.5px solid;
  border-radius: 35px;
  transition: 500s;
}
.form__container .form__reg .button {
  text-align: center;
  max-width: 200px;
  width: 15%;
  font-family: "Montserrat";
  color: #fff;
  font-size: 16px;
  background-color: #000;
  border: 1.5px solid;
  border-radius: 35px;
  transition: 500s;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form__container .form__reg .button:hover {
  opacity: 0.6;
}

@media (max-width: 400px) {
  .logo {
    display: flex;
    align-items: center;
    max-width: 200px;
  }
  .logo .logo__img {
    margin: 0 10px;
  }
  .main .main__container {
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
  }
  .main__container-text1 {
    font-size: 13.5px;
    margin-bottom: 10px;
  }
  .main__container-text2 {
    font-size: 4.7px;
  }
  .main__container img {
    max-width: 100%;
    width: 120px;
  }
  h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
  }
  .flex-container {
    display: flex;
    gap: 10px;
    max-width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .flex-container .left-column, .flex-container .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 450px;
  }
  .flex-container .block {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px #777676;
    overflow: hidden;
    font-size: 9px;
    position: relative;
  }
  .flex-container .block h3 {
    font-size: 12px;
  }
  .flex-container .block-1, .flex-container .block-2, .flex-container .block-3, .flex-container .block-4 {
    width: 100%;
    height: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .flex-container .block-1 .block__text {
    position: relative;
    top: -35%;
    left: 30%;
    width: 140%;
    text-align: center;
  }
  .flex-container .block-1 .block-1__img {
    left: -8%;
    bottom: -2%;
    width: 100%;
  }
  .flex-container .block-2 .block__text {
    position: relative;
    top: -35%;
    left: 50%;
    width: 100%;
    text-align: center;
  }
  .flex-container .block-2 .block-2__img {
    left: 0;
    bottom: -7%;
    width: 95%;
    transform: rotate(20deg);
  }
  .flex-container .block-3 .block__text {
    position: relative;
    top: -35%;
    right: -52%;
    width: 100%;
    text-align: center;
  }
  .flex-container .block-3 .block-3__img {
    top: 35%;
    right: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .flex-container .block-3 .block-3__img img {
    width: 80%;
    height: auto;
  }
  .flex-container .block-4 .block__text {
    position: relative;
    top: -35%;
    left: 30%;
    width: 140%;
    text-align: center;
  }
  .flex-container .block-4 .block-4__img {
    width: 100%;
    position: relative;
    top: 18%;
    right: 40%;
    display: flex;
    justify-content: center;
  }
  .flex-container .block-4 .block-4__img img {
    width: 200%;
    height: auto;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 25px 15%;
    align-items: center;
  }
  .form__container .form__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .form__container .form__text h3 {
    font-size: 18px;
  }
  .form__container .form__text p {
    font-size: 6px;
  }
  .form__container .form__img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 120px;
    margin-top: 10px;
  }
  .form__container .form__img img {
    position: absolute;
  }
  .form__container .img1 {
    width: 150px;
    max-width: 100%;
    z-index: 1;
  }
  .form__container .img2 {
    max-width: 150px;
    height: 50px;
    transform: rotate(15deg);
    z-index: 2;
    top: 0;
    left: 30px;
  }
  .form__container .img3 {
    width: 65px;
    max-width: 80px;
    z-index: 2;
    right: 30px;
    bottom: 10px;
  }
  .form__container .form__reg {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .form__container .form__reg #nameInput {
    font-size: 12px;
    max-width: 600px;
    width: 85%;
    padding: 5px 20px;
    height: 28px;
    background-color: #DCDCDC;
    border-radius: 35px;
    transition: 500s;
  }
  .form__container .form__reg .button {
    text-align: center;
    max-width: 200px;
    width: 35%;
    font-family: "Montserrat";
    color: #fff;
    font-size: 8px;
    background-color: #000;
    border-radius: 22px;
    transition: 500s;
    cursor: pointer;
  }
}
@media (min-width: 401px) and (max-width: 550px) {
  .main .main__container {
    margin: 14px 34px;
    padding: 15px;
    border-radius: 14px;
  }
  .main__container-text1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .main__container-text2 {
    font-size: 8px;
  }
  .main__container img {
    max-width: 100%;
    width: 170px;
  }
  h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 17px;
  }
  .flex-container {
    display: flex;
    gap: 10px;
    max-width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .flex-container .left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
  }
  .flex-container .right-column {
    display: flex;
    flex-direction: row;
    height: 300px;
    gap: 10px;
    width: 45%;
  }
  .flex-container .block {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px #777676;
    overflow: hidden;
    font-size: 9px;
    position: relative;
  }
  .flex-container .block-1 {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .flex-container .block-2 {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .flex-container .block-3, .flex-container .block-4 {
    position: relative;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 30px 15%;
    align-items: center;
  }
  .form__container .form__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .form__container .form__text h3 {
    font-size: 20px;
  }
  .form__container .form__text p {
    font-size: 6px;
  }
  .form__container .form__img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 120px;
    margin-top: 10px;
  }
  .form__container .form__img img {
    position: absolute;
  }
  .form__container .img1 {
    width: 150px;
    max-width: 100%;
    z-index: 1;
  }
  .form__container .img2 {
    max-width: 150px;
    height: 50px;
    transform: rotate(15deg);
    z-index: 2;
    top: 0;
    left: 30px;
  }
  .form__container .img3 {
    width: 65px;
    max-width: 80px;
    z-index: 2;
    right: 30px;
    bottom: 10px;
  }
  .form__container .form__reg {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .form__container .form__reg #nameInput {
    font-size: 12px;
    max-width: 600px;
    width: 85%;
    padding: 7px 25px;
    height: 32px;
    background-color: #DCDCDC;
    border: 1.5px solid;
    border-radius: 35px;
    transition: 500s;
  }
  .form__container .form__reg .button {
    text-align: center;
    max-width: 200px;
    width: 35%;
    font-family: "Montserrat";
    color: #fff;
    font-size: 10px;
    background-color: #000;
    border-radius: 24px;
    transition: 500s;
    cursor: pointer;
  }
}
@media (min-width: 550px) and (max-width: 800px) {
  .main .main__container {
    margin: 20px 40px;
    padding: 27px;
    border-radius: 20px;
  }
  .main .main__container-text1 {
    font-size: 26.5px;
    margin-bottom: 30px;
  }
  .main .main__container-text2 {
    font-size: 11px;
  }
  .main .main__container img {
    width: 250px;
  }
  h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .flex-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .flex-container .left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
  }
  .flex-container .right-column {
    display: flex;
    flex-direction: row;
    height: 400px;
    gap: 20px;
    width: 45%;
  }
  .flex-container .block {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px #777676;
    overflow: hidden;
    font-size: 12px;
    position: relative;
  }
  .flex-container .block-1 {
    width: 100%;
    height: 245px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .flex-container .block-2 {
    width: 100%;
    height: 135px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .flex-container .block-3, .flex-container .block-4 {
    position: relative;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 30px 15%;
    align-items: center;
  }
  .form__container .form__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .form__container .form__text h3 {
    font-size: 24px;
  }
  .form__container .form__text p {
    font-size: 8px;
  }
  .form__container .form__img {
    position: relative;
    width: 250px;
    height: 200px;
    margin-top: 10px;
  }
  .form__container .form__img img {
    position: absolute;
  }
  .form__container .img1 {
    width: 250px;
    max-width: 100%;
    z-index: 1;
  }
  .form__container .img2 {
    max-width: 150px;
    height: 80px;
    transform: rotate(15deg);
    z-index: 2;
    top: 0;
    left: 0;
  }
  .form__container .img3 {
    width: 100%;
    max-width: 80px;
    z-index: 2;
    right: 0;
    bottom: 20px;
  }
  .form__container .form__reg {
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 24px;
  }
  .form__container .form__reg #nameInput {
    font-size: 14px;
    max-width: 600px;
    width: 90%;
    padding: 10px 50px;
    height: 40px;
    background-color: #DCDCDC;
    border: 1.5px solid;
    border-radius: 35px;
    transition: 500s;
  }
  .form__container .form__reg .button {
    text-align: center;
    max-width: 200px;
    width: 30%;
    font-family: "Montserrat";
    color: #fff;
    font-size: 12px;
    background-color: #000;
    border-radius: 24px;
    transition: 500s;
    cursor: pointer;
  }
}
@media (min-width: 800px) and (max-width: 1050px) {
  .main .main__container {
    margin: 24px 44px;
    padding: 35px;
    border-radius: 24px;
  }
  .main .main__container-text1 {
    font-size: 39.5px;
    margin-bottom: 35px;
  }
  .main .main__container-text2 {
    font-size: 18px;
  }
  .main .main__container img {
    max-width: 100%;
    width: 360px;
  }
  .main h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 35px;
  }
  .main .flex-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .main .flex-container .left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
  }
  .main .flex-container .right-column {
    display: flex;
    flex-direction: row;
    height: 550px;
    gap: 20px;
    width: 45%;
  }
  .main .flex-container .block {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px #777676;
    overflow: hidden;
    font-size: 14px;
    position: relative;
  }
  .main .flex-container .block-1 {
    width: 100%;
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .main .flex-container .block-2 {
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .main .flex-container .block-3, .main .flex-container .block-4 {
    position: relative;
    width: 50%;
    height: 560px;
    display: flex;
    flex-direction: column;
  }
  .form__container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 30px 17%;
    align-items: center;
  }
  .form__container .form__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  .form__container .form__text h3 {
    font-size: 30px;
  }
  .form__container .form__text p {
    font-size: 10px;
  }
  .form__container .form__img {
    position: relative;
    width: 250px;
    height: 200px;
    margin-top: 30px;
  }
  .form__container .form__img img {
    position: absolute;
  }
  .form__container .img1 {
    width: 250px;
    max-width: 100%;
    z-index: 1;
  }
  .form__container .img2 {
    max-width: 150px;
    height: 80px;
    transform: rotate(15deg);
    z-index: 2;
    top: 0;
    left: 0;
  }
  .form__container .img3 {
    width: 100%;
    max-width: 80px;
    z-index: 2;
    right: 0;
    bottom: 20px;
  }
  .form__container .form__reg {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
  }
  .form__container .form__reg #nameInput {
    font-size: 16px;
    max-width: 600px;
    width: 90%;
    padding: 10px 50px;
    height: 46px;
    background-color: #DCDCDC;
    border: 1.5px solid;
    border-radius: 35px;
    transition: 500s;
  }
  .form__container .form__reg .button {
    text-align: center;
    max-width: 200px;
    width: 20%;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    background-color: #000;
    border-radius: 24px;
    transition: 500s;
    cursor: pointer;
  }
}
@media (min-width: 1050px) and (max-width: 1300px) {
  .main .main__container {
    margin: 28px 48px;
    padding: 45px;
    border-radius: 28px;
  }
  .main .main__container-text1 {
    font-size: 40px;
    margin-bottom: 35px;
  }
  .main .main__container-text2 {
    font-size: 20px;
  }
  .main .main__container img {
    max-width: 100%;
    width: 360px;
  }
  h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 38px;
  }
  .form__container {
    display: flex;
    max-width: 935px;
    max-height: 450px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 5px #a3a1a1;
    border-radius: 30px;
    margin: 40px 20%;
    align-items: center;
  }
  .form__container .form__text {
    margin-top: 30px;
  }
  .form__container .form__text h3 {
    font-size: 35px;
  }
  .form__container .form__text p {
    font-size: 12px;
  }
  .form__container .form__img {
    position: relative;
    width: 250px;
    height: 200px;
    margin-top: 30px;
  }
  .form__container .form__img img {
    position: absolute;
  }
  .form__container .img1 {
    width: 250px;
    max-width: 100%;
    z-index: 1;
  }
  .form__container .img2 {
    max-width: 150px;
    height: 80px;
    transform: rotate(15deg);
    z-index: 2;
    top: 0;
    left: 0;
  }
  .form__container .img3 {
    width: 100%;
    max-width: 80px;
    z-index: 2;
    right: 0;
    bottom: 20px;
  }
  .form__container .form__reg {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
  }
  .form__container .form__reg #nameInput {
    font-size: 18px;
    text-align: left;
    max-width: 600px;
    width: 95%;
    padding: 10px 50px;
    height: 48px;
    background-color: #DCDCDC;
    border: 1.5px solid;
    border-radius: 35px;
    transition: 500s;
  }
  .form__container .form__reg .button {
    text-align: center;
    max-width: 200px;
    width: 15%;
    font-family: "Montserrat";
    color: #fff;
    font-size: 13px;
    background-color: #000;
    border-radius: 33px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
.info-box {
  transition: all 0.3s ease;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.info-box.show {
  opacity: 1;
  max-height: 200px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7568627451);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  box-shadow: 0 5px 20px #000;
  text-align: center;
}

.modal-content {
  margin-bottom: 20px;
}

.modal-success-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  color: #4CAF50;
}

.modal-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4CAF50;
}

.modal-text {
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-small-text {
  font-size: 14px;
  color: #666;
}

.modal-error {
  color: #f44336 !important;
}

.modal-close-btn {
  margin-top: 20px;
  padding: 10px 50px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.modal-close-btn:hover {
  background-color: #333;
}/*# sourceMappingURL=index.css.map */